# Import libraies

In [ ]:
import sys
print(sys.executable)

In [ ]:
from google.cloud import storage

def download_blob(bucket_name, source_blob_name, destination_file_name):
    """Downloads a blob from the bucket."""
    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(source_blob_name)
    blob.download_to_filename(destination_file_name)

    print(f"Blob {source_blob_name} downloaded to {destination_file_name}.")

if __name__ == "__main__":
    bucket_name = "original_transaction_data"
    source_blob_name = "merged_cleaned_data.csv"
    destination_file_name = "data/dataset.csv"

    download_blob(bucket_name, source_blob_name, destination_file_name)

In [126]:
from datetime import datetime
import pandas as pd
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.decomposition import TruncatedSVD

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/alamihassanibrahim/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [127]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/alamihassanibrahim/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# Read data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [140]:
df = pd.read_csv('data/merged_cleaned_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427495 entries, 0 to 427494
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Type                       427495 non-null  object
 1   Sub type                   427495 non-null  object
 2   Sequence                   427495 non-null  object
 3   Location                   427495 non-null  object
 4   Property Type              427495 non-null  object
 5   Property Name              427495 non-null  object
 6   Bedrooms                   427495 non-null  int64
 7   Size (Sqf)                 427495 non-null  float64
 8   Land Size                  427495 non-null  float64
 9   Amount (AED)               427495 non-null  float64
 10  AED/Sqf                    427495 non-null  float64
 11  Developer                  427495 non-null  object
 12  name_property_google       427495 non-null  object
 13  types_google               427495 non-null  object
 14  address_google             427495 non-null  object
 15  rating_google              427495 non-null  float64
 16  user_ratings_total_google  427495 non-null  float64
 17  northeast_google           427495 non-null  object
 18  southwest_google           427495 non-null  object
 19  latitude                   427495 non-null  float64
 20  longitude                  427495 non-null  float64
 21  Month_Year                 427495 non-null  object
dtypes: float64(8), int64(1), object(13)
memory usage: 71.8+ MB

In [129]:
# Make sure 'month-year' column is in datetime format
df['Month_Year'] = pd.to_datetime(df['Month_Year'])

# Filter the DataFrame based on the desired date
filtered_df = df[df['Month_Year'] > '2023-03-31']

# Display the filtered DataFrame
filtered_df

Empty DataFrame
Columns: [Type, Sub type, Sequence, Location, Property Type, Property Name, Bedrooms, Size (Sqf), Land Size, Amount (AED), AED/Sqf, Developer, name_property_google, types_google, address_google, rating_google, user_ratings_total_google, northeast_google, southwest_google, latitude, longitude, Month_Year]
Index: []

[0 rows x 22 columns]

In [141]:
# Get 200k rows
df['Month_Year'] = pd.to_datetime(df['Month_Year'])
df = df.sort_values(by='Month_Year', ascending=False)

# select the most recent 200k rows using iloc
df = df.iloc[:200000]
df.shape

(200000, 22)

In [ ]:
df.columns

In [142]:
df.reset_index(inplace=True)

# Pre-Processing

Create Year column

In [143]:
df['Month_Year'] = df['Month_Year'].apply(lambda x: datetime.strftime(x, '%m-%Y'))
# define a function to convert the string to a datetime object and extract the year
def extract_year(date_str):
    date_obj = datetime.strptime(date_str, '%m-%Y')
    return date_obj.year

# apply the function to the date column and create a new column with only the year
df['Year'] = df['Month_Year'].apply(extract_year)
df.shape

(200000, 24)

In [144]:
df.head()

,index,Type,Sub type,Sequence,Location,Property Type,Property Name,Bedrooms,Size (Sqf),Land Size,...,types_google,address_google,rating_google,user_ratings_total_google,northeast_google,southwest_google,latitude,longitude,Month_Year,Year
0,0,Sales - Off-Plan,Sell - Pre registration,Primary,Al Furjan,Apartment,PG Upperhouse,1,738.41,0.0,...,"['point_of_interest', 'establishment']",Jebel Ali Village - Al Furjan - Dubai,5.0,3.0,"25.03273077989272,55.14044682989272","25.03003112010728,55.13774717010728",25.031415,55.138923,02-2023,2023
1,1994,Sales - Ready,Delayed Sell,Secondary,Dubai Creek Harbour,Apartment,The Bay (17 Icon),1,1335.27,0.0,...,"['lodging', 'point_of_interest', 'establishment']",Ras Al Khor - Dubai Creek Harbour - Dubai,4.6,23.0,"25.20520027989272,55.34731947989272","25.20250062010728,55.34461982010727",25.203981,55.345733,02-2023,2023
2,1985,Sales - Ready,Delayed Sell,Secondary,Al Jadaf,Apartment,Farhad Azizi Residence,0,366.73,0.0,...,"['lodging', 'point_of_interest', 'establishment']",Al Jaddaf - Dubai,3.4,27.0,"25.21022487989272,55.31672412989272","25.20752522010728,55.31402447010728",25.208878,55.315334,02-2023,2023
3,1986,Sales - Ready,Delayed Sell,Secondary,Al Kifaf,Apartment,Park Gate Residences 2,1,992.23,0.0,...,"['point_of_interest', 'establishment']",Unnamed Road - Za'abeel - Dubai,4.4,23.0,"25.23526262989272,55.29506812989272","25.23256297010728,55.29236847010728",25.234047,55.293809,02-2023,2023
4,1987,Sales - Ready,Delayed Sell,Secondary,Business Bay,Apartment,Prive by Damac Tower A,0,431.74,0.0,...,"['lodging', 'point_of_interest', 'establishment']",The Metropolis Tower - Business Bay - Dubai,4.3,363.0,"25.18586417989271,55.27699217989272","25.18316452010727,55.27429252010727",25.184310,55.275516,02-2023,2023

Tokenize 'name_property'

In [ ]:
df.columns

In [ ]:
df.head()

In [145]:
df.drop("index", axis=1,inplace=True)

In [ ]:
print(df['Property Name'].value_counts())

In [146]:
# Remove stopwords
stop_words = set(stopwords.words('english'))
df['Property Name'] = df['Property Name'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]))

# Convert to lowercase
df['Property Name'] = df['Property Name'].str.lower()

# Remove punctuation and special characters
df['Property Name'] = df['Property Name'].str.replace('[^\w\s]', '')

# Tokenize the text
df['Property Name'] = df['Property Name'].apply(lambda x: word_tokenize(x))

df.shape

/var/folders/y2/94fl58f16jj1h1p44ytcw72m0000gn/T/ipykernel_44404/1690019950.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Property Name'] = df['Property Name'].str.replace('[^\w\s]', '')

(200000, 23)

Hashing 'name_property'

In [147]:
vectorizer = HashingVectorizer(n_features=200000, ngram_range=(1, 2))
X = vectorizer.fit_transform(df['Property Name'].astype(str))
svd = TruncatedSVD(n_components=100)
components = svd.fit_transform(X)

hashing_columns = []
# loop over the range from 1 to 100 and create a string for each number
for i in range(1, (components.shape[1]+1)):
    hashing_columns.append('hashing_'+str(i))

# create a new DataFrame with the SVD components
components_df = pd.DataFrame(components, columns=hashing_columns)

# merge the original DataFrame with the components DataFrame
df = pd.concat([df, components_df], axis=1)
df.shape

(200000, 123)

Standardization

In [149]:
from sklearn.preprocessing import StandardScaler

# create an instance of the StandardScaler class
scaler = StandardScaler()

# select the columns to scale
cols_to_scale = ['latitude', 'Land Size','Year','Bedrooms','Size (Sqf)','longitude']

# apply the scaler to the selected columns
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])
df.shape

(200000, 123)

Encoding

In [151]:
dummy_cols = ['Sequence', 'Type', 'Sub type', 'Property Type','Location']
df = pd.get_dummies(df, columns=dummy_cols)

# print the resulting DataFrame
df.shape

(200000, 247)

In [155]:
df.drop(['AED/Sqf', 'Developer', 'name_property_google', 'types_google',
       'address_google', 'rating_google', 'user_ratings_total_google',
       'northeast_google', 'southwest_google', 'Month_Year'], axis=1, inplace=True)

In [ ]:
print(list(df.columns))

# Training

Train-test split

In [158]:
df.head()

,Property Name,Bedrooms,Size (Sqf),Land Size,Amount (AED),latitude,longitude,Year,hashing_1,hashing_2,...,Location_The Villages,Location_Tilal Al Ghaf,Location_Town Square,Location_Trade Center Second,Location_Umm Suqeim Third,Location_Uptown Motorcity,Location_Victory Heights,Location_Villanova,Location_World Islands,Location_Zaabeel First
0,"[pg, upperhouse]",-0.673537,-0.705961,-0.491391,719842.5,-0.865821,-1.421645,1.6478,3.562543e-16,9.967198e-15,...,0,0,0,0,0,0,0,0,0,0
1,"[the, bay, 17, icon]",-0.673537,-0.104711,-0.491391,1700000.0,1.395809,1.208450,1.6478,6.879626e-02,2.469352e-01,...,0,0,0,0,0,0,0,0,0,0
2,"[farhad, azizi, residence]",-1.438369,-1.080374,-0.491391,520000.0,1.459990,0.821853,1.6478,4.632626e-03,5.181818e-03,...,0,0,0,0,0,0,0,0,0,0
3,"[park, gate, residences, 2]",-0.673537,-0.450274,-0.491391,1660000.0,1.789857,0.548106,1.6478,7.706610e-02,3.975237e-01,...,0,0,0,0,0,0,0,0,0,0
4,"[prive, damac, tower, a]",-1.438369,-1.014886,-0.491391,850000.0,1.138013,0.315462,1.6478,4.578130e-01,-9.228629e-02,...,0,0,0,0,0,0,0,0,0,0

In [162]:
df.drop('Property Name', axis=1, inplace= True)

In [163]:
df['Amount (AED)']

0          719842.5
1         1700000.0
2          520000.0
3         1660000.0
4          850000.0
            ...
199995    4179888.0
199996    2138226.0
199997    2138226.0
199998     756360.0
199999     725681.0
Name: Amount (AED), Length: 200000, dtype: float64

In [164]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Define the features and target variable
X = df.drop(['Amount (AED)'], axis=1)  # Assuming 'Price' is your target variable
y = df['Amount (AED)']

# Perform a stratified train-test split based on the 'Year' column
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.15, stratify=df['Year'], random_state=42)

Model

In [ ]:
x.c.c

In [175]:
from xgboost import XGBRegressor
from sklearn.model_selection import RandomizedSearchCV

param_grid = {
    'n_estimators': 200,
    'max_depth': 17,
    'learning_rate': 0.08837483,
    'max_delta_step':0,
    'alpha': 0.41610393, 
    'lambda':0.58841556,
    'gamma': 0.2964622,
    'min_child_weight':0.52404153,
    'subsample': 0.8800853,
    'colsample_bytree': 0.6815701,
    #'scale_pos_weight':1,
}

model = XGBRegressor(**param_grid)
#random_search = RandomizedSearchCV(model, param_distributions=param_grid)
model.fit(X_train, y_train)

XGBRegressor(alpha=0.41610393, base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.6815701, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0.2964622, gpu_id=None, grow_policy=None,
             importance_type=None, interaction_constraints=None,
             lambda=0.58841556, learning_rate=0.08837483, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None, max_delta_step=0,
             max_depth=17, max_leaves=None, min_child_weight=0.52404153,
             missing=nan, monotone_constraints=None, n_estimators=200,
             n_jobs=None, num_parallel_tree=None, ...)

Evaluation

In [176]:
from sklearn.metrics import mean_squared_error
y_pred = model.predict(X_test)
rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

248050.821445323

In [177]:
import numpy as np
# calculate absolute percentage error for each prediction
APE = (np.abs(y_test - y_pred) / y_test) * 100

# calculate MAPE
MAPE = np.mean(APE)
print('MAPE:', MAPE)

MAPE: 7.352444410590121